* {
  font-family : Helvetica;
  text-align: center;
  color: grey;
}
#header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
/*  color: white;
   height: 300px;
  width : 1900px; */

}
.top h1 {
  font-size: 70px;
  font-weight: bold;
  color : white;
}
h3.tlist {
  font-size: 18px;
  color : white;
}
h2 {
   font-size: 32px;
   font-weight: bold;
   background-color: lightblue;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
#home {
  font-size: 14px;
}
#backhead {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  height: 30px;
  color: white;
}
#footer.footline {
/*  display: inline; */
  height: 50px
  color : white;
  text-align: left !important;
    background-color: grey !important;
   /* The display inline is working but rest of the properties are notworking */
}
