 * {
  background-color: black;
  color: seashell;
  font-size:22px;
  font-family: Helvetica;
  text-align: center;
}
/* Top Header */
.header {
  height:69px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;

  margin-bottom: 10px;

}

 .header img {
  justify-content: flex-start;
  height: 50px;
  width:200px;
  margin-right: 450px;
  }

.header nav {

  padding-bottom: 10px;
  flex-shrink: 1;
  display : flex;
  width: 1000;
}

.header h2{
   width: 200px;
   align-text: center;
   flex:1;
}

/* Mission section of HTML */
.mission {
  height: 700px;
  margin-top: 10px;
  width:1200px;
  display:flex;
    align-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.missioncenter{
  background-color: bleck;
  height: 80px;
}

/* Tea Section of the page */
.tea {
  width:1000px;
  margin-left:100;
  margin-right:100;
  margin-top:10px;
  margin-bottom: 10px;
  }


.tea img {
  width: 300px;
  height: 200px;
}
.tea h4 {
  padding-top: 10px;
  margin-top:10px;
  padding-left:10px;
  width:300px;
}
.row1 {
  display: flex;
  flex-flow: row;
}
.row2 {
  display: flex;
  flex-flow: row;
}

.level {
  display: flex;
  flex-direction: column;
}



/* Location section code */





.locationsection {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
   height: 700px;
   width: 1200px;

   display: flex;
   flex-direction: column;
   align-content: center;
}

.lochead h2{
  font-weight: bold;
  font-size: 22px;
  margin-top: 40px;
  color: grey;
  margin-bottom:30px;
}

.allloc {
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   align-content: center;

}

.location {
    width: 300px;
    height: 300px;
    background-color: black;
    font-size:12px;
    font-weight: normal;
    border:1px solid red;
}
.locationsection h6 {
  padding:10px;
  margin-top:2px;
  margin-bottom: 2px;
}


/* Code for Footer section */
.footer{
  margin:20px;
  height:200px;

}

.bottomline {
  margin-top: 10px;
  align-text: left;
}
